{% extends "base.html" %}

{% block navigation %}

<nav class="blog-navigation">
  <a href="{{ url_for('start') }}">На главную</a>
</nav>

{% endblock %}

{% block content %}
<main>
  <article>
    <h1>День первый. Как я забыл покормить кота</h1>
    <p>Кто бы мог подумать, что семантика это так важно, мне срочно нужно было об этом поговорить. Взгляд упал на кота. Кот издал настойчивое «Мяу». И я понял — пришло время для первой записи в блог. И покормить кота.</p>
  </article>
  <aside class="partnership">
    Тут могла быть ваша реклама
  </aside>
</main>
{% endblock %}