{% extends "base.html" %}

{% block navigation %}
<nav class="blog-navigation">
  <a href="{{ url_for('day', num=15) }}">Вернуться к записи</a>
</nav>
{% endblock %}

{% block content %}
<main>
  <article>
    <figure>
      <img src="{{ url_for('static', filename='files/keks-2.jpg') }}" width="486" height="315" alt="Кексик">
      <figcaption>Кекс узнал, сколько стоил этот Rode Podcaster.</figcaption>
    </figure>
    <nav class="pagination">
      <a href="{{ url_for('photo', num=1) }}">&lt; Назад</a>
      <a href="{{ url_for('photo', num=3) }}">Вперёд &gt;</a>
    </nav>
  </article>
  <aside class="partnership">
    Тут могла бы быть ваша реклама
  </aside>
</main>
{% endblock %}
